@model Sahayee.Models.ViewModel.CourseViewModel
<div class="modal-body" id="">
    <h5>Course Title: @Model.Name</h5>
    <p><strong>Category:</strong> @Model.Category</p>
    <p><strong>Institution:</strong> @Model.Institution</p>
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Duration:</strong> @Model.Duration</p>
    <p><strong>Summary:</strong> @Model.Summary</p>
</div>
