@model Sahayee.Models.ViewModel.JobsViewModel
<div class="modal-body" id="">
    <h5>Job Title: @Model.JobTitle</h5>
    <p><strong>Department:</strong> @Model.Department</p>
    <p><strong>Institution:</strong> @Model.Institution</p>
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Contact Email:</strong> @Model.ContactEmail</p>
    <p><strong>Description:</strong> @Model.Description</p>
</div>
